@using AnimePlace.Models
@model AnimePlace.Models.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-dark">
    <tbody>
    <tr>
      <td align="center">Anime Count</td>
      <td align="center">Characters Count</td>
      <td align="center">Studios Count</td>
      <td align="center">Genres Count</td>
    </tr>
    <tr>
      <td align="center">@Model.AnimesCount</td>
      <td align="center">@Model.CharactersCount</td>
      <td align="center">@Model.StudiosCount</td>
      <td align="center">@Model.GenresCount</td>
    </tr>  
  </tbody>
</table>
