@using AnimePlace.Models.ViewModels
@model AnimesListViewModel
@{
    ViewData["Title"] = "All Anime";
    
}


<h1 class="p-2 text-center">This is the Anime List</h1>
<hr />

<div class="row px-1">
@foreach(var anime in this.Model.Animes)
{
    
    <div class="p-1 d-flex col-md-3">
  <div class="p-1 flex-shrink-0">
  <img src="~/img/Animes/@(anime.ImageUrl).jpg" width="120" height="160" alt="..." class="img-thumbnail">
  </div>
  <div class="p-1 flex-shrink-1 ms-3">
      
      <h5 class="p-1 text-left"><a asp-action="GetById" asp-route-id="@anime.Id">@anime.Name</a></h5>
     
    <div class="p-1 text-left overflow-auto" style="height: 215px; width: 265px;">@anime.Synopsis</div>
  </div>
  </div>


}
</div>

<hr />
<partial name="_PagingPartial" model="@Model"></partial>