@using AnimePlace.Models.InputModels
@model CreateAnimeInputModel

@{
    ViewData["Title"] = "Add new Anime";
    
}


<form method="post">
    <div class="border p-3 mt-4 px-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Anime</h2>
        </div>
        <div class="mb-3" style="color: #ffffff">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AlternativeName"></label>
            <input asp-for="AlternativeName" class="form-control" />
            <span asp-validation-for="AlternativeName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Episodes"></label>
            <input asp-for="Episodes" class="form-control" />
            <span asp-validation-for="Episodes" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Sypnosis"></label>
            <input asp-for="Sypnosis" class="form-control" />
            <span asp-validation-for="Sypnosis" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Rating"></label>
            <input asp-for="Rating" class="form-control" />
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Aired"></label>
            <input asp-for="Aired" class="form-control" />
            <span asp-validation-for="Aired" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Source"></label>
            <input asp-for="Source" class="form-control" />
            <span asp-validation-for="Source" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Status"></label>
            <input asp-for="Status" class="form-control" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BorderImageUrl"></label>
            <input asp-for="BorderImageUrl" class="form-control" />
            <span asp-validation-for="BorderImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="control-label"></label>
            <select asp-for="Type" 
                    class="form-control" 
                    asp-items="Html.GetEnumSelectList<TypeEnum>()">
                <option>Select type...</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        @*<div class="mb-3">
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>*@
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        
    </div>
</form>

<a asp-controller="Animes" asp-action="Index" class="btn btn-secondary" style = "width:150px">
            Back to list
        </a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
