@{
    ViewData["Title"] = "Anime List";
    
}
 <link rel="stylesheet" href="~/css/customCSS.css">

<h1>This is the Anime List
    <a asp-controller="Animes" asp-action="Create" class="btn btn-primary" style = "width:150px">
            Add Anime
        </a>
</h1>



<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Anime name
            </th>
            <th>
                Type
            </th>
            <th>
                Episodes
            </th>
            <th>
                Sypnosis
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach(var Anime in Model)
            {
                <tr>
                    <td width="50%">
                        @Anime.Name
                    </td>
                    <td width="50%">
                        @Anime.Type
                    </td>
                    <td width="50%">
                        @Anime.Episodes
                    </td>
                       
                    <td class="panel-heading">
                        @Anime.Sypnosis
                    </td>
                    
                </tr>
            }
        </tbody>
</table>
