@using AnimePlace.Models.ViewModels
@model AnimesListViewModel
@{
    ViewData["Title"] = "Anime List";
    
}
 <link rel="stylesheet" href="~/css/customCSS.css">


<h1>This is the Anime List</h1>
    
<h2>
    <a asp-controller="Animes" asp-action="Create" class="btn btn-primary" style = "width:150px">
            Add Anime
 </a>
 </h2>  

 

<hr />

@*<div class="row">
@foreach(var anime in this.Model.Animes)
{
    
    <div class="d-flex col-md-2">
  <div class="flex-shrink-0">
    <img src="@anime.ImageUrl" alt="...">
  </div>
  <div class="flex-grow-1 ms-3">
      <h5>@anime.Name</h5>
    <div class="overflow-auto">@anime.Synopsis</div>
  </div>
</div>

}
</div>*@

<hr />
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>