<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">
    @*<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">*@

    <!-- CSS Styles -->
    @*<link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">*@
    @*<link rel="stylesheet" href="~/css/plyr.css" type="text/css">*@
    @*<link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">*@
    @*<link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">*@
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/customCSS.css" asp-append-version="true">



</head>

<body>
    <!-- Page Preloder -->
    @*<div id="preloder">
    <div class="loader"></div>
    </div>*@

    <!-- Header Section Begin -->
    @*<header class="header">
    <div class="container">
    <div class="row">
    <div class="col-lg-2">
    <div class="header__logo">
    <a href="./index.html">
    <img src="img/logo.png" alt="">
    </a>
    </div>
    </div>
    <div class="col-lg-8">
    <div class="header__nav">
    <nav class="header__menu mobile-menu">
    <ul>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    @* <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Animes" asp-action="Index">Anime</a>
    </li>*@
    @*@if (this.User.IsInRole("Admin"))

    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Animes" asp-action="Create">Add new Anime</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Animes" asp-action="AllAnimes">All Anime</a>
    </li>
    </ul>
    </nav>
    </div>
    </div>
    <div class="col-lg-2">
    <div class="header__right">
    <a href="#" class="search-switch"><span class="icon_search"></span></a>
    <a href="./login.html"><span class="icon_profile"></span></a>
    </div>
    </div>
    </div>
    <div id="mobile-menu-wrap"></div>
    </div>
    </header>*@

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow" id="nav-bar">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Anime Place</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @*if (this.User.IsInRole("Admin"))*@

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Animes" asp-action="Create">Add new Anime</a>
                        </li>
                        <li class="nav-item mr-auto">
                            <a class="nav-link text-white" asp-area="" asp-controller="Animes" asp-action="AllAnimes">All Anime</a>
                        </li>
                        <li class="nav-item" id="button-login">
                            <a class="nav-link text-white"  asp-area="" asp-controller="Animes" asp-action="AllAnimes">Login</a>
                        </li>
                        <li class="nav-item" id="button-register">
                            <a class="nav-link text-white" asp-area="" asp-controller="Animes" asp-action="AllAnimes">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Header End -->
    <div class="content-header">
        @RenderBody()
    </div>

    <!-- Product Section End -->
    <!-- Footer Section Begin -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Anime Place
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    @*<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch"><i class="icon_close"></i></div>
    <form class="search-model-form">
    <input type="text" id="search-input" placeholder="Search here.....">
    </form>
    </div>
    </div>*@
    <!-- Search model end -->
    <!-- Js Plugins -->
    @*<script src="js/owl.carousel.min.js"></script>*@
    @*<script src="js/jquery-3.3.1.min.js"></script>*@

    @*<script src="js/player.js"></script>*@

    @*<script src="js/mixitup.min.js"></script>*@
    @*<script src="js/jquery.slicknav.js"></script>*@

    <script src="js/jquery.nice-select.min.js"></script>
    @*<script src="js/bootstrap.min.js"></script>*@
    <script src="js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>