* {
    box-sizing: border-box;
}

body, html {

    
}

body {
    /*font-family: 'Inter', sans-serif;*/
}
#nav-bar {
    background-color: rgba(29, 29, 54, .5)
}


.left {
    background-color: #2ecc71;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    width: 75%;
    overflow-y: scroll;
}

.span3 {
    height: 60px !important;
    overflow: scroll;
    
}
.panel-heading {
    
    display: block;
    max-block-size: 300px;
    overflow-y: scroll !important;
    text-overflow: clip;
}

h1, h2, h3, h4 {
    margin-left: 150px;
}

.content-header {

}

.content--row {
    row-gap: 20px;
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 1262px;
    margin: 0 auto;
}

.img--anime {
    /*max-width: 100%;*/
    width: 185px;
    height: 265px;
    /*height: auto;*/
    margin-bottom: 20px;
}

/*Single Page details*/
.anime-details {
    display: grid;
    grid-template-columns: 240px auto;
    grid-gap: 30px;
    /*grid-template-rows: 345px 1fr 300px;*/
    width: 1262px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.anime-container {
    width: 1262px;
    margin: 0 auto;
}

.anime-content {
    display: grid;
    grid-template-columns: 240px auto;
    grid-gap: 30px;
}

.anime-cover {
    width: 240px;
    height: 345px;
    margin-top: -130px;
}

img {
    border-radius: 3px;
}

.single--name {
    font-size: 32px;
    display: inline-block;
    width: fit-content;
    margin-bottom: 15px;
    margin-top: 15px;
    letter-spacing: -0.5px;
    margin-left: 0;
}

.single--sypnosis {
    font-size: 20px;
    grid-column: 2 / span 1;
    grid-row: 1/ span 1;
    font-size: 19px;
    display: inline-block;
    margin-top: 20px;
}

.single--alternative {
    margin-left: 35px;
    font-size: 13px;
}

.banner {
    /*background-position: 50% 35%;*/
    width: 100%;
    height: 330px;
    border-radius: 0;
    margin-top: -60px;
}

.actions {
    display: grid;
    grid-template-columns: auto 30px;
    margin-top:25px;
    grid-gap: 20px;
}

.add-list {
    background-color: #42a4f5;
    font-size: 14px;
    color: white;
}
.favorite {
    padding: 0;
    width: 30px;
    background-color: #ff4d4d;
    border-radius: 4px;
}
.favorite-icon {
    stroke: black;
    fill: #F0F8FF;
    width: 22px;
    height: 22px;
    padding-bottom: 3px;
}

.characters-title {
    display:inline-block;
    font-size: 18px;
    margin-left: 0px;
    margin-bottom: 25px;
}

.characters {
    display: inline-block;
}

.characters-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    row-gap: 20px;
}

.character {
    display: grid;
    grid-template-columns: 52px auto;
}

.character-img {
    width: 52px;
    height: 72px;
}

#character-name {
    font-size: 15px;
    margin-bottom: 0;
}
.character-details {
    margin-left: 6px;
}

.staff {
    font-size: 10px;
    margin-top: 20px;
    margin-left: 0;
}

.character-role {
    font-size: 10px;
    font-style: italic;
    margin-top: 2px;
}