* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {

    
}

.left {
    background-color: #2ecc71;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    width: 75%;
    overflow-y: scroll;
}

.span3 {
    height: 60px !important;
    overflow: scroll;
    
}
.panel-heading {
    
    display: block;
    max-block-size: 300px;
    overflow-y: scroll !important;
    text-overflow: clip;
}

h1, h2, h3, h4 {
    margin-left: 150px;
}

.content-header {
    width: 1262px;
    margin: 0 auto;
}

.content--row {
    row-gap: 20px;
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}

.img--anime {
    /*max-width: 100%;*/
    width: 185px;
    height: 265px;
    /*height: auto;*/
    margin-bottom: 20px;
}

.anime-details {
    display: grid;
    grid-template-columns: 200px 1fr;

}

.anime-cover {
    width: 185px;
    height: 265px;
}

img {
    border-radius: 3px;
}