body, html {

    
}

.left {
    background-color: #2ecc71;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    width: 75%;
    overflow-y: scroll;
}

.span3 {
    height: 60px !important;
    overflow: scroll;
    
}
.panel-heading {
    
    display: block;
    max-block-size: 300px;
    overflow-y: scroll !important;
    text-overflow: clip;
}
